//

.post-items-layout {
  display: block;
}
.post-card {
  display: block;
  width: 100%;
  background-color: white;
  color: rgb(19, 17, 16);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin: 0.5rem auto;
  text-align: left;

  .post-title {
    font-size: 1.2rem;
    font-weight: bolder;
    border-bottom: 1px solid tomato;
    padding: 0.5rem 0rem;
  }

  .post-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.75rem;
    & > span {
      text-align: center;
      padding: 0.5rem 0.25rem;
    }
  }
}
