* {
  color: red;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
/* Craete a sticky footer */
/* Wrap the .content-container and the .layout-footer-wrapper */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}
/* Wrapper for the Navbar and Page 
contents .content-container */
.content-container {
  width: 100%;
  flex-grow: 1;
}

.body-container {
  width: 80%;
  margin: auto;
  padding: 0rem 1rem;
  background-color: lavenderblush;
}

.layout-footer-wrapper {
  background-color: lavenderblush;
  width: 100%;
  display: block;
  padding: 1rem;
  border-top: 1px solid rgb(17, 24, 46);
}
